:root {
  --hero-and-footer-bg: #1f2937;
  --hero-main-header-logo-color: #f9faf8;
  --hero-second-header-link-color: #e5e7eb;
  --button-cta-bg: #3882f6;

  --info-header-color: #1f2937;
  --quote-section-bg: #e5e7eb;
  --quote-text-color: #1f2937;
}
